name: MLflow CI

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run .

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns

      - name: Build Docker Image with MLflow
        run: |
          cd MLProject
          mlflow models build-docker -m mlruns/*/*/artifacts/model -n username/mlflow-model

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker Image
        run: docker push username/mlflow-model


